
RewriteEngine on
RewriteCond %{HTTP_HOST} ^voltamozao\.lucasnicolau\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.voltamozao\.lucasnicolau\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/.+$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/voltamozao\.com\/" [R=301,L]

